__pycache__
quantisation/runs
quantisation/require_pars.ipynb
quantisation/requirements_old.txt
quantisation/8_bit
quantisation/utils/sigmoid_table_8_bit.txt
quantisation/utils/sigmoid_table_10_bit.txt
quantisation/utils/sigmoid_table_14_bit.txt
quantisation/utils/sigmoid_table_16_bit.txt
quantisation/utils/exponent_table_8_bit.txt
quantisation/utils/exponent_table_9_bit.txt
quantisation/results
quantisation/memory
quantisation/10_bit
quantisation/14_bit
quantisation/matrix_batchf.txt
quantisation/result_quant.txt
quantisation/8_bit.zip
quantisation/8_nano
quantisation/8_small
quantisation/14_nano
quantisation/max_a_analysis.ipynb
quantisation/check_fp_res.py
quantisation/need_sppf
quantisation/experiments
quantisation/memory.txt
quantisation/final_memory.txt
quantisation/stage_4_save_matrix.py
quantisation/stage_6_full_quant_batch.py
quantisation/std_experiment.py
quantisation/batch_experiments_v2.py
quantisation/stage_4_debug.py
quantisation/sigmoid_article_exp.py
